.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.game .start-button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid var(--board-accent);
    border-radius: 5px;
    background-color: var(--board-color);
    color: var(--board-accent);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.game .start-button:hover {
    background-color: var(--board-accent);
    color: white;
}